<%-include('../initials/header') %>
<div class="createStudent">
    <form action="/createstudent" method="post"> 
<div class="line"><label for="name">Student Name</label><input type="text" name="name" required> </div>
<div class="line"><label for="enrollment_date">Enrollment Date</label><input type="date" name="enrollment_date" required/></div>
<div class="line"><label for="class_id">Select Class</label><select name="class_id" required>
    <% classes.forEach(element=>{ %>
        <option value="<%=element._id%>"><%=element.class_name%></option>
        <%})%>
        </select></div>
<div class="line"><label for="teacher_id">Select Teacher</label><select name="teacher_id" required>

    <% teachers.forEach(teacher=>{ %>
<option value="<%=teacher._id%>"><%=teacher.name%></option>
    <%})%>
</select></div>

<div class="line"><label for="contact">Contact No</label><input type="Number" name="contact" required></div>
<div class="line"><label for="address">Address</label><input type="text" name="address" required></div>
<div class="line"><input type="submit" class='btn' value="Add Student"></div>


    </form>
<a href="/" class="back-btn">Return to home</a>

</div>

<%-include('../initials/footer') %>